body {
    padding-top: 60px; 

}

input.tiny {height:15px;line-height: 15px;}
.form-horizontal .control-group {
    margin-bottom: 5px;
}
.control-group {
    margin-bottom: 5px;
}
input.hide{display:none;}

label.error {
    color: #D8000C;
    background-color: #FFBABA;
    border: solid 1px #dd3c10;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding-left: 5px;
    font-size:11px;
    display: inline-block;
    width: 215px;
}
.ui-tabs .ui-tabs-nav li a {
    float: left;
    padding: 5px 5px;
    text-decoration: none;
}
.hasDatepicker{
    font-size:11px;
}
.ui-datepicker td a {
    display: block;
    text-align: right;
    text-decoration: none;
}
.ui-button-text-only .ui-button-text {padding:2px;}
.wide{width:300px;}
.ui-tabs .ui-tabs-nav li a {font-size:12px;}
.collapsed span{font-weight: bold;font-size: 26px;line-height: 17px;vertical-align:text-top;}
.collapsed {cursor: pointer; vertical-align: middle;}
.redt{color:#CC0000; font-weight: bold;}
.darkt{color:#F58400; font-weight: bold;}
.middle {

}
.form-horizontal .control-label  {
    float: left;
    padding-top: 0px;
    text-align: right;
    width: 160px;
}

.form-horizontal .control-group{margin-bottom: 10px;}
.clow{margin-top:5px;}
.span3{width: 400px;}

#box { width: 40px; height: 40px; display: inline-table; border: 2px solid #ccc;   }
#widget { width: 240px; height: 240px; display: inline-table; border: 0px solid #ccc;   }
#widget div.max { width: 240px; height: 240px; margin-left: 0px; margin-top: 0px; border: 1px solid #ccc;  }
#widget div.mini { width: 208px; height: 208px; margin-left: 16px; margin-top: 16px; border: 1px solid #ccc;  }

#red, #green, #blue {
float: left;
clear: left;
width: 300px;
margin: 15px;
}
#swatch-backcolor {
	background-image: none;
}
#swatch-forecolor {
	background-image: none;
}

#red .ui-slider-range { background: #ef2929; }
#red .ui-slider-handle { border-color: #ef2929; }
#green .ui-slider-range { background: #8ae234; }
#green .ui-slider-handle { border-color: #8ae234; }
#blue .ui-slider-range { background: #729fcf; }
#blue .ui-slider-handle { border-color: #729fcf; }